body {background-color: silver;}

p { background-color: orange; }

h1 { background-color: yellow;color:red; }

#para1Background {background-color: aqua;}
.para2Background {background-color:lightgreen;}